
.discountBanner{
    background-color: var(--mainBlue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
    margin-bottom: 35px;
}

.bannerInfo{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: white;
}

.bannerLink{
    background-color: white;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    padding: 0px 41px; 
    box-sizing: border-box;
}

.bannerLink a, .bannerLink a:visited{
    color: var(--mainBlack);
}

.bannerLink a:hover{
    color: var(--mainBlue);
    transition: all 01s ease-in;
}

@media (max-width: 991px){
    .bannerPhotos img{
        width: 130px;
        height: 90px;
    }
}

@media (max-width: 767px) {
    .pupularGoodsButton{
        width: 200px;
    }

    .bannerInfo{
        font-size: 30px
    }

    .bannerPhotos{
        width: 115px;
        height: 80px;
    }

    .bannerPhotos img:last-child{
        display: none;
    }
}

@media (max-width: 575px){
    .pupularGoodsButton{
        display: none;
    }
}