.menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--colorBlack);
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 21px;
}

a{
    text-decoration: none;
}

a.link:visited{
    color: var(--colorBlack);
}

a.link:hover{
    color: var(--mainBlue);
    transition: all 0.3s ease-in-out;
}

.link.active{    
    color: var(--mainBlue);
    text-decoration: underline;

}

.location:hover{
    color: var(--mainBlue);
}


.logo{
    height: 76px;
    width: 80px;
}


.profile-links{
    display: flex;
}

.profile-links img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #3774d028;
    padding: 0 8px 0 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .menu_burger{
       display: block;
       position: relative;
       width: 30px;
       height: 20px;
       z-index: 3;

    }
    .menu_burger span{
        position: absolute;
        background-color: var(--mainBlue);
        left: 30px;
        width: 100%;
        height: 2px;
        top: 68px;
        transition: all 0.3s ease 0s;
    }

    .menu_burger:before,
    .menu_burger:after{
        content: '';
        background-color: var(--mainBlue);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 30px;
        transition: all 0.3s ease 0s;

    }

    .menu_burger:before{
        top: 60px;
    }

    .menu_burger:after{
        bottom: -57px;
    }

    .menu_burger.active:before{
        transform: rotate(45deg);
        top: 75px;
    }

    .menu_burger.active::after{
        transform: rotate(-45deg);
        bottom: -57px;
    }

    .menu_burger.active span{
        transform: scale(0);
    }

}


/*Карзина

.cartBuy {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--mainBlue);
    transition: 0.2s;
    cursor: pointer;
    position: fixed; Фиксированное расположение 
    top: 170px;  в правом верхнем углу 
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    border: transparent;
    z-index: 5;
}

.cartBuy:hover {
    transform: scale(1.1);
}

.cart__num {
    position: absolute;
    background-color: var(--buttonHover);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
}*/

@media (max-width: 991px){
    .categories{
        font-size: 18px;
    }

    .profile-links img{
        margin-right: 10px;
    }
}

@media (max-width: 767px){
    .categories{
        position: fixed;
        top: -100%;
        right: 0;
        width: 13%;
        height: 40%;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .categories.active{
        position: absolute;
        left: 4%;
        width: 200px;
        top: 100px;
        background-color: white;
        display: flex;
        flex-direction: column;
        z-index: 3;
        
    }


    .menu>li:nth-child(2n+1){
        display: none;
    }

    .menu{
        margin-left: 30px;
        font-size: 17px;
    }

    .location img{
        display: none;
    }
}

@media (max-width: 575px) {
    .menu>li{
        display: none;
    }

    .categories.active{
        position: absolute;
        top: 110px;
    }

    .menu{
        display: flex;
        justify-content: space-evenly;
    }
}