
:root{
    --mainFont: 'Barlow';
    
    --colorBlack: #2F3035;
    --mainBlue: #1C62CD;
    --colorGrey: #e3e3e8;
    --buttonHover:#05A88D;
    --greyText: #C4C4C4;
}

.blue{
    color: var(--mainBlue);
}

body{
    font-family: var(--mainFont);
    margin: auto;
    max-width: 1171px;
}

*{
    margin: 0;
}

/* popular */

.popular, .additional{
    margin-bottom: 25px;
}

.popular h2, .additional h2{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: var(--colorBlack);
    margin-bottom: 25px;
}

.popularHeader{
    display: flex ;
    justify-content: space-between;
}

.sale{
    background-color: var(--mainBlue);
    color: white;
    float: left;
    height: 25px;
    width: 63px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-align: center;
    padding-top: 10px;
}

.nosale{
     background-color: white;
    color: white;
    float: left;
    height: 25px;
    width: 63px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-align: center;
    padding-top: 10px;
}

.popular-categ, .additional-categ{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--colorBlack);
    margin-right: 20px;
    margin-left: 30px;
}

.popular-categ:last-child, .additional-categ:last-child{
    margin-right: 0px;
}

.active-cat{
    text-decoration: underline;
    color: var(--mainBlue);
}

.popularContent, .AddContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

.popularCard, .AdditionalCard {
    border: 1px solid var(--greyText);
    height: 408px;
    width: 240px;
    border-radius: 3px;
    margin-bottom: 35px;
}

.content{
    position: relative;
    top: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: var(--colorBlack);
}

.price{
    display: block;
    margin-top: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.noprice{
    display: block;
    margin-top: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.availability{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
    color: var(--mainBlue);
}

.popularGood{
    height: 200px;
    width: 200px;
}

.addCart{
    width: 60px;
    height: 40px;
    background-color: var(--mainBlue);
    border-radius: 10px 0px 0px 0px;
    float: right;
}

.addCart img{
    margin-top: 10px;
}


.pupularGoodsButton{
    width: 252px;
    height: 50px;
    background-color: var(--colorGrey);
    border: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--colorBlack);
}

.pupularGoodsButton:hover{
    transition: all 0.3s ease-in;
    background-color: var(--mainBlue);
    color: white;
}

.moreButton{
    display: flex;
    justify-content: center;
}

/* promoCatalog*/

.promoCatalog{
    display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
    margin-top: 30px;
    margin-left: 25px;
}

@media (max-width: 575px) {
    .promoCatalog{
        margin-right: 10px;
    }
}

.promoCatalog-Object{
    box-sizing: border-box;
    padding-top: 20px;
    height: 135px;
    width: 370px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 1px solid var(--colorGrey);

}

.promoCatalog h3{
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
}

.object-promo{
    display: flex;
    justify-content: space-around;
}

.object-promo img{
    height: 90px;
}

.promoCatalog a, .promoCatalog a:visited{
    text-decoration: none;
    color: var(--mainBlue);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.promoCatalog a:hover{
    text-decoration: underline;
    color: var(--buttonHover);
}

.promoCatalog-Object p{
    position: relative;
    left: 20px;
}





h2{
    color:black;
    font-weight: 400;
    line-height: 16px;
    margin: 30px 0 30px 30px;
}

h4{
    color:black;
    font-weight: 400;
    line-height: 16px;
    font-size: 20px;

}




/*Contacts*/ 

.infoinput{
    height: 15px;
    width: 250px;
    padding-bottom: 20px;
    text-transform: capitalize;
}

#textcontact{
    text-transform: capitalize;
}

#map{
    width: 100%;
    height: 374px;
}

/* hover product card */
.shop-item {
    position:relative;
    display:inline-block;
    transition:1s all;
}


.shop-item:hover {
    transform:scale(1.1);
}


/*heart*/
.wrapper{
    margin-top: 8px;
    margin-right: 10px;
}

.heart {
    width: 20px; 
    height: 20px; 
    background-color: var(--colorGrey); 
    transform: rotate(45deg);
    position: relative; 
}

.heart::before,
.heart::after {
    content : ''; 
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--colorGrey); 
    border-radius: 50%; 
    position: absolute;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -10px;
}

.activeHeart{
    background-color: var(--mainBlue);
}

.activeHeart::before,
.activeHeart::after {
    content : ''; 
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--mainBlue);
    border-radius: 50%; 
    position: absolute;
}

/* slider*/
 .banner {
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
  
.slideMenu{
    width: 100%;
    display: flex;
    padding: 0 20px;
}
  
.slide{
    height: 60vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: white;
    flex: 5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}
  
.slide h3{
    position: absolute;
    font-size: 24PX;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background-color: #1c63cd56;
}
  
.slide.active{
    flex: 10;
}
  
.slide.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
} 

/*Просмотренные товары*/


.seenGoods{
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seen h3{
    margin-left: 25px;
}

.seenGoodsSlider{
    width: 100%;
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.seenSlide{
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: black;
    flex: 5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}

.seenGood{
    width: 180px;
    height: 180px;
}

@media (max-width:991px){
    .seenGood{
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 767px){
    .seenSlide:last-child{
        display: none;
    }

    .seenGood{
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 575px){
    .banner{
        display: none;
    }

    .promoCatalog-Object{
        width: 320px;
    }

    .promoCatalog{
        margin-left: 10px;
    }
}